.col-xs-fifth, .col-sm-fifth, .col-md-fifth, .col-lg-fifth {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-fifth {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-fifth {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-fifth {
        width: 20%;
        float: left;
    }
}
